/* CSS Entry Point */

// Turn on freq used libraries
 @import 'normalize-css/normalize';
 @import 'font-awesome/scss/font-awesome';


* {
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
}

.logo {
	color: #fff;
	font-size: 32px;
	padding: 20px;
	margin-right: 100px;
	text-shadow: 1px 1px 2px #666666;

}

header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 85px;
	background-color: #aebdaf;
	top: 0;
	left: 0;
	z-index: 1000;
	//overflow: hidden;
	//background-size: cover;
	position: fixed;
	justify-content: space-around;
	
}

header ul a {
	display: flex;
	float: right;
	text-decoration: none;
	justify-content: space-around;
	list-style: none;
	letter-spacing: 3px;
	color: #fff;
	//display: inline-block;
	font-size: 16px;
	&:hover {
		background: white;
		border-radius: 3px;
		color: #aebdaf;
	}
}

 li{
	display: inline-block;
	padding: 15px;
	margin: 0;
	
}
.header-list li {
	display: inline-block;
	padding: 15px;
	margin: 0;
	color: white;
	background-color: #aebdaf;

}
.home-image {
	background-image: url('../images/homeplace.jpg');
	margin-top: 85px;
	background-size: cover;
	//position: fixed;
	width: 100%;
	height: 90vh;
	h1 {
		font-size: 50px;
		color: #666666;
		text-shadow: 1px 1px 2px black;
		padding-top: 130px;
		padding-left: 30px;
		}
}

.about-me {
	width: 100%;
	background-color: #dedecd;
	//border-top: 1px solid #f4f5ee;
}
.tagline  {
	color: #666666;
	//display: flex;
	//justify-content: space-around;
	display: inline-block;
	text-align: center;
	width: 95%;
	height: auto;
	font-size: 28px;
}

.tagline img {
	width: 150px;
	height: auto;
	border-radius: 50px;
	box-shadow: 0 5px 5px -3px #666666;
}
.tagline p {
	max-width: 500px;
	text-align: center;
	margin-bottom: 0;
}
.tagline ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.tagline li {

}

footer {
	width: 100%;
	height: 86px;
	background-color: #778472;
	text-align: center;
}
footer ul {
	margin: 0;
}
footer i.fa {
	//display: flex;
	//justify-content: space-between;
	cursor: pointer;
	color: #32551a;
	font-size: 25px;
	&:hover {
		color: white;
	}
}
footer li {
	display: inline-block;;
	width: 15%;
	margin: 22px, 0;
	text-align: center;
}
